img{
  display: block;
  max-width: 100%;
  text-align: center;
  margin: auto;
  }
  body{
  background-color: #d9d475;
  Font-size: 50;
  text-align: center;
  font-family: sans-serif;
  }
  h1{
    background-color: #343d08;
    color: #fafafc;
    text-align: center;
    font-family: verdana;
  }
  p{
    text-align: center;
  }
h2{
  text-align: center;
  background-color: #343d08;
    color: #fafafc;
    font-family: verdana;
}
